<button class = "btn btn-secondary" (click)="signOut(); ">{{languagePack['signout']}}</button> <br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" [class.active] = "language==='zh_tw'" (click) = "setLanguage('zh_tw')">中文</button>
  <button type="button" class="btn btn-outline-primary" [class.active] = "language==='en'" (click) = "setLanguage('en')">English</button>
</div>
<h1>{{languagePack['welcome']}}{{displayName}}</h1>
<h2>{{languagePack['setting']}}</h2>
<h3>{{languagePack['initial']}}</h3>
<p>{{languagePack['p1']}}<mark>{{languagePack['mark1']}}</mark>{{languagePack['p2']}}</p>
<ag-grid-angular
   style="width: 100%; height: 100px"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="dataInit"
   (cellValueChanged) = "onCellValueChange('initial', $event)"
   [rowSelection]="'multiple'"
   [animateRows]="true"
 ></ag-grid-angular>
<h3>{{languagePack['inAndOut']}}</h3>
<button class = "btn btn-primary" (click) = "addData('in_out'); ">{{languagePack['addRow']}}</button>
<button class = "btn btn-secondary" (click) = "autoSizeAll(false); ">{{languagePack['autoSize']}}</button>
<button class = "btn btn-danger" (click) = "deleteSelectedRow(); ">{{languagePack['deleteRow']}}</button>
<ag-grid-angular
   style="width: 100%; height: 500px"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs2"
   [defaultColDef]="defaultColDef2"
   [rowData]="dataInOut"
   (cellValueChanged) = "onCellValueChange('in_out', $event)"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (gridReady)="onInitGridReady($event)"
 ></ag-grid-angular>
<h2>{{languagePack['cashFlow']}}</h2>
 <highcharts-chart 
 [Highcharts]="Highcharts"
 [options]="chartOptions"
 [(update)]="updateFlag"


 style="width: 100%; height: 400px; display: block;"
></highcharts-chart>